opencv=python==4.6.0
opencv-contrib-python==4.6.0
numpy==1.23.1
supergradients
ultralytics
torch --index-url https://download.pytorch.org/whl/cu117
torchvision --index-url https://download.pytorch.org/whl/cu117
torchaudio --index-url https://download.pytorch.org/whl/cu117
